@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  10% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
}

.hdn{
  display:none;
}
.contact-popup {
  animation: fadeInOut 3s forwards;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #050505;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.matrixbackground {
  opacity: 0.6 !important;
  mix-blend-mode: screen;
  background-color: #000;
  filter: contrast(1.2) brightness(1.1);
}

canvas {
  touch-action: none;
}


/* mouse effect */
 

/*---------------------------------------------------------------------
                        Mouse Effect
-----------------------------------------------------------------------*/
.mouse-move {
  position: absolute;
  bottom: -130px;
  left: 50%;
  width: 65px;
  margin-left: -50px;
}
.mouse-move a {
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  height: 65px;
  width: 65px;
  line-height: 65px;
  display: inline-block;
  border-radius: 900px;
  text-align: center;
}
.mouse-move .boom::before,
.mouse-move .boom::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.mouse-move .boom::before,
.mouse-move .boom::after {
  content: "";
  z-index: -1;
  margin: 0;
  border-radius: 900px;
  box-shadow: inset 0 0 0 2px;
  animation: clipMe 8s linear infinite;
}
.mouse-move .boom::before {
  animation-delay: -4s;
}
body{
  
cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><path d="M20 0L20 40Z" stroke="#FF3737" stroke-width="4" /></svg>') 20 20, auto;

}
@keyframes clipMe {
  0%,
  100% {
    clip: rect(0px, 220px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 220px, 0px);
  }
  50% {
    clip: rect(218px, 220px, 220px, 0px);
  }
  75% {
    clip: rect(0px, 220px, 220px, 218px);
  }
}
.banner_canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
